<% @profiles.each do |profile| %>
<p><%= profile.name %> </p>
<p><%= profile.identity %> </p>
<p><%= profile.power %> </p>
<p><%= profile.contact %> </p>
<p><%= profile.created_at %> </p>
  <%= image_tag profile.avatar.url(:medium) %>
<% end %>

  


  

  