  <p><%= @user.username %> </p>
  <p><%= @user.profile.name %></p>
  <p><%= @user.profile.identity %></p>
  <p><%= @user.profile.power %></p>
  <p><%= @user.profile.contact %></p>
  <%= image_tag @user.profile.avatar.url(:medium) %>
