<head>
  <title>JOIN</title>
  <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "users" %>
  <script src="jquery.js"></script>
  <script src="typed.js"></script>
  <script>
    $(function(){
      $(".element").typed({
        strings: ["Do you have what is takes?", "JOIN THE AGENCY"],
        typeSpeed: 0
      });
    });
  </script>
</head>

<% if !current_user %>
<h1 class="formtitle"><span class="element"></span></h1>
<div class="form">
<%= form_for @user do |f| %>
  <%= f.text_field :username, placeholder: 'CODENAME', class: 'input' %>
  <%= f.password_field :password, placeholder: 'PASSKEY', class: 'input' %>

  <%= submit_tag "JOIN", class: 'button' %>
</div>
<% end %>

<% end %>