
<p> <%= @post.message %> </p>
<p> <%= @post.zip %></p>
 Posted by <%= @post.user.username %>
      at <%= @post.created_at %>

<%= form_for Comment.new do |f| %>
  <%= f.text_area :comment %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit :submit %>
<% end %>

<% @post.comments.each do |comment| %>
  <p>
    <%= comment.comment %>
     Posted by <%= @post.comment.user.username %>
      at <%= @comment.created_at %>

  </p>
<% end %>