
<p>Message :  <%= @post.message %> </p>
<p>Area :  <%= @post.zip %></p>
<p class="by">Posted by : <%= @post.user.username %></p>
<p class="by">At :  <%= @post.created_at %></p> 

<%= form_for Comment.new do |f| %>
  <%= f.text_area :comment %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit :submit %>
<% end %>

<div>
  <% @post.comments.each do |comment| %>
    <p><%= comment.comment %></p>
    <p class="by">By : <%= User.find(comment.user_id).username  %></p>
  <% end %>
</div>
