
<p> <%= @post.message %> </p>
<p> <%= @post.zip %></p>
<p>Posted by <%= @post.user.username %>
      at <%= @post.created_at %></p> 

<%= form_for Comment.new do |f| %>
  <%= f.text_area :comment %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit :submit %>
<% end %>

<div>
  <% @post.comments.each do |comment| %>
    <p><%= comment.comment %></p>
  <% end %>
</div>
